/* Styles for the housing options section */

.findOutMore{
    background-color: #ffffff;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: 100%;
}
.info-item {
    grid-column: span 4;
    width: 100%;
    box-sizing: border-box;

    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.findOutMore p {
    color: #000000;
    font-size: 15px;
    padding: 5px;
}

.findOutMore a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}

.findOutMore .info{
    background-size: cover;
    background-position: center;
    min-height: 250px;
    display: grid;
    place-items: center;
}

.findOutMore .desc1{
    background-image: url(../images/hoImage1.jpg);
    max-width: 450px;
    border-radius: 15px;
    border-color: #ffffff;
    border: 5px solid #ffffff;
}

.findOutMore .desc2{
    background-image: url(../images/hoImage2.jpg);
    max-width: 550px;
        border-radius: 15px;
            border-radius: 15px;
    border-color: #ffffff;
    
    border: 5px solid #ffffff;
}

.findOutMore .desc3{
    background-image: url(../images/hoImage3.jpg);
    border-radius: 20px;
        border-radius: 15px;
    border-color: #ffffff;
    
    border: 5px solid #ffffff;
}

.findOutMore .info h3{
    color: white;
}

.findOutMore a{
    color: #000000;
    text-decoration: none;
}

.findOutMore p{
    margin-bottom: 10px;
}