/* footer styles start */
footer .container{
    display:flex;
    gap:1em;
}

footer{
    background-color: #404141;
    color: #ffff;
    font-size:14px;
    line-height:1.8;
}

footer h3{
    font-size:18px;
    margin-bottom:5px

}

.footerBlock{
    background-color: #4f5050;
    padding:25px;
    flex:1;
}

/* icon and links */

.footerBlock ul li{
   margin-bottom:5px;
   list-style-type:none;
}

footer a{
      color: #4DA0E2;
}

footer a:hover{
    color: #2A6CB8;
    text-decoration:underline;
}

.app{
    margin:8px 0;
}

a.facebook{
  color: #2A5097;
}

a.twitter{
  color: #2A5097;
  }

  a.instagram{
  color: #2A5097;
  }

a.facebook:hover{
  color: #1877F2;
}

a.twitter:hover{
    color: #0a0b0b;
  }

  a.instagram:hover{
    color: #FD1D1D;
  }

footer .container .foot2 {
 padding-top:10px;
}

footer .container .foot2 i{
   font-size:20px;
   }

/* footer styles start */
   
