/* Styles for the header section */

* {
    box-sizing: border-box;
    margin: 0px;
}


/* text */
body {
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}


header.header_bg {
    background-image: url(../images/header_bg.png);
    background-size: cover;
}
/* header style start */
header {
    min-height: 500px;
    background-image: url(../images/header_bg.png);
    background-size: cover;
}

/* nav styles */
header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    list-style-type: none;
}

header nav ul a {
    background: #fff;
    padding: 9px 19px;
    border-radius: 4px;
}

/* search box styles */
header .searchBox {
    padding: 15px;
    background: #fff;
    border-radius: 15px;
}

/* form */
header .searchBox form {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .searchBox form input {
    width: 85%;
    height: 50px;
    padding-left: 10px;
}

/* button */
.searchButton {
    height: 40px;
    width: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background: #4DA0E2;
    color: #ffffff;
    border-radius: 6px;
    text-decoration: none;
}

.searchButton:hover {
    background: #2A6CB8;
    color: #ffffff;
    text-decoration: none;
}

/* image */
img {
    max-width: 100%;
    height: auto;
}

/* header style end */
