.housingOptions{
    background-color: #d525b2;
}
 
.housingOptions .house{
    background-size: cover;
    min-height: 250px;
    display: grid;
    place-items: center;
}

.house-container {
    display: flex;
    gap: 25px;
}

.housingOptions .house {
    background-size: cover;
    background-position: center;
}
 
.housingOptions .house1{
    background-image: url(../images/hoImage1.jpg);
    max-width: 450px;
}
 
.housingOptions .house2{
    background-image: url(../images/hoImage2.jpg);
    max-width: 550px;
}
 
.housingOptions .house3{
    background-image: url(../images/hoImage3.jpg);

}
 
.housingOptions .house h3{
    color:white;
}
 
.housingOptions a{
    color: #6692eb;
}
 
.housingOptions p{
    margin-bottom: 10px;
}

