/* Styles for the List of Colleges section */
.listOfColleges{
background-color: white;
max-height: 300px;
}

.listOfColleges h2{
    color: #000000;
    font-size: 30px;
    padding: 10px;
}

.college-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
/* list styles*/

.listOfColleges ul{
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.listOfColleges a{
    background-color:#FFFDF7; 
    color: #4DA0E2; 
    padding: 5px;
    font-weight: 700;
    font-size: 25px;
    display:inline-block;
    border-radius:4px;
    }

.listOfColleges a:hover{
    background-color:#FFFDF7; 
    color: #2A6CB8;
}

/* List of Colleges styles end */